/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	padding: 15px 0;
	background: #7d22a1c9;
}

#header.header-transparent {
	background: transparent;
}

#header.header-scrolled {
	background: #7d22a1c9;
}

#header .logo h1 {
	font-size: 24px;
	margin: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
	color: #fff;
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 80px;
}

@media ( max-width : 768px) {
	#header.header-scrolled {
		padding: 15px 0;
	}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
	float: left;
	/* background: rgba(55, 5, 68, 0.2); */
}

.nav-menu a {
	display: block;
	position: relative;
	color: #ffffff;
	padding: 20px 15px;
	transition: 0.3s;
	font-size: 13px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}

.nav-menu a:hover, .nav-menu .active>a, .nav-menu li:hover>a {
	background: #410b3e3f;
	color: #fff;
	text-decoration: none;
}

.header-scrolled .nav-menu>ul>li {
	background: none;
}

.header-scrolled .nav-menu a {
	color: #fff;
}

.header-scrolled .nav-menu a:hover, .header-scrolled .nav-menu .active>a,
	.header-scrolled .nav-menu li:hover>a {
	background: rgba(255, 255, 255, 0.2);
}

.nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
}

.nav-menu .drop-down ul a {
	padding: 12px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #25607a;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active>a,
	.nav-menu .drop-down ul li:hover>a {
	color: #67b0d1;
}

.nav-menu .drop-down>a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
}

.nav-menu .drop-down .drop-down>a {
	padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
	content: "\eaa0";
	font-family: IcoFont;
	position: absolute;
	right: 15px;
}

@media ( max-width : 1366px) {
	.nav-menu .drop-down .drop-down ul {
		left: -90%;
	}
	.nav-menu .drop-down .drop-down:hover>ul {
		left: -100%;
	}
	.nav-menu .drop-down .drop-down>a:after {
		content: "\ea9d";
	}
}

/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
	color: #fff;
}

.mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	color: #2f4d5a;
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
}

.mobile-nav a:hover, .mobile-nav .active>a, .mobile-nav li:hover>a {
	color: #67b0d1;
	text-decoration: none;
}

.mobile-nav .drop-down>a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}

.mobile-nav .active.drop-down>a:after {
	content: "\eaa1";
}

.mobile-nav .drop-down>a {
	padding-right: 35px;
}

.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}

.mobile-nav .drop-down li {
	padding-left: 20px;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(30, 48, 56, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
}